# Ignore directories
.vscode/
.git/
build/
out/

# Ignore files
*.o
*.nes
.editorconfig
.vscode/compile.bat
.vscode/launch.json
.vscode/tasks.json
/.vscode
.vscode/tasks.json
.vscode/launch.json
.vscode/compile.bat
.vscode/compile.bat
/.vscode
